flask
flask_session
flasgger
requests
openai>=1.50.0
anthropic
google-genai
groq
langchain-community
langchain-openai
langchain-core
langsmith
werkzeug
flake8
pytest
coverage
pytest-cov
mypy
types-flask
types-requests
types-Pillow
