:host {
  display: flex;
  flex: 1;
  min-height: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  padding: 1rem;
  gap: 0.5rem;
}

.chat-header {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 0.2rem;
}

app-chat-provider,
app-chat-list-models {
  flex: 1;
  min-width: 12.5rem;
}

app-chat-list {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

app-chat-input {
  flex-shrink: 0;
}